<<<<<<< HEAD
/*
 * === Footer style ===
 */
/* Footer style */
footer {
	align-items: center;
	background-color: #fff;
	border-top: 1px solid #ccc;
	display: flex;
	height: 60px;
	justify-content: center;
	width: 100%;
      }
=======
footer {
    position: fixed;
    background-color: #00FF00;
    height:60px;
    width: 100%;
    bottom: 0;
}
footer p {
    text-align: center;
    margin: 20px;
}
>>>>>>> dafb60fd86a393d01ae7e80a958cd64d1464792a
