header {
<<<<<<< HEAD
	width: 100%;
	height: 70px;
	top: 0%;
        position: relative;
	flex: none;
        border-bottom: 1px solid #CCCCCC;
	background-color: white;
        background-image: url("../images/logo.png");
	background-repeat: no-repeat;
        background-position: 20px;
=======
background-color: white;
height: 70px;
width: 100%;
border-bottom: 1px#CCCCCC solid;
}

.logo {
    width: 142px;
    height: 60px;
    padding-left: 20px;
    background: url("../images/logo.png") no-repeat center;
>>>>>>> dafb60fd86a393d01ae7e80a958cd64d1464792a
}
