<<<<<<< HEAD
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
        color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
	position: relative;
        display: flex;
	flex-flow: column nowrap;
}
.container {
	width: 100%;
	max-width: 1000px;
        margin: 30px auto;
	position: relative;
        flex: 1 0 auto;
}
p {
	text-align: center;
	vertical-align: middle;
=======
body {
    color:  #484848;
    font-size:  14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
>>>>>>> dafb60fd86a393d01ae7e80a958cd64d1464792a
}
